[2020-03-06 08:17] cankarm opened #1 "Add a monitoring example to the GitHub."
Create a monitoring example and add it to the RADON organization. If possible, you can add it in the delivery-toolchain repo, where all examples could be shared.

Resolves action point **A5.41**

Prerequisite: #2

Contributes to: #demo-tosca-blueprint-openfaas/1

[2020-03-06 08:34] cankarm opened #2 "Create common repo for delivery toolchain"
The idea is to have an organized repository for all delivery toolchain tools. In this repository we should have the documentation and examples for all tools.

[2020-03-09 14:27] cankarm opened #3 "**RADON GMT and Orchestrator integration**"
This story defines the requirements for the GMT (Winery) and orchestrator (xOpera) integration.

Requires:
radon-h2020/winery#1
radon-h2020/winery#2
radon-h2020/winery#3
radon-h2020/xopera-opera#1
xlab-si/xopera-opera#27

[2020-03-19 12:12] cankarm commented on #1
Here is the pull request #4

[2020-04-09 10:43] cankarm opened #5 "R-T5.1-1: The orchestrator tasks must be executable through CLI"
ID: | R-T5.1-1
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to use   orchestrator through command line
Requirement: | The orchestrator tasks must be executable   through CLI
Extended   Description: | Orchestrator should provide CLI to manage   the deployment of blueprints on serverless and FaaS providers
Priority: | Should have
Affected   Tools: | ORCHES

[2020-04-09 10:43] cankarm opened #6 "R-T5.1-2: A Software Developer describes the application architecture and dependencies at least in TOSCA YAML 1.2"
ID: | R-T5.1-2
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As a Software Developer, I want to   describe application in TOSCA YAML 1.2
Requirement: | A Software Developer describes the   application architecture and dependencies at least in TOSCA YAML 1.2
Extended   Description: | The TOSCA blueprints, input to   orchestrator, must be written in TOSCA YAML 1.2 syntax, at minimum.
Priori

[2020-04-09 10:44] cankarm opened #7 "R-T5.1-3: The runtime toolchain need to provide a status on each stage of deployment of the application on the underlying architecture"
ID: | R-T5.1-3
-- | --
Type: | USABILITY
User   story: | As an Operations Engineer, I want to see   the status of runtime deployment of application in each stage
Requirement: | The runtime toolchain need to provide a   status on each stage of deployment of the application on the underlying   architecture
Extended   Description: | Using different technologies for   monitoring the deployment process

[2020-04-09 10:45] cankarm opened #8 "R-T5.1-4: At the end of deployment the deployment of services needs to be verified and its dependencies"
ID: | R-T5.1-4
-- | --
Type: | RELIABILITY
User   story: | As an Operations Engineer, I want to be   able to validate the deployment of application
Requirement: | At the end of deployment the deployment   of services needs to be verified and its dependencies
Extended   Description: | Verification methodology must be   developed to verify the correctness of deployment application and if its   worki

[2020-04-09 10:45] cankarm opened #9 "R-T5.1-5: The orchestrator should be able to calculate the diff between the current state and the desired state expressed by a new model version and redeploy only the difference."
ID: | R-T5.1-5
-- | --
Type: | PERFORMANCE_EFFICIENCY
User   story: | As an Operations Engineer, I want to   update my deployment based on a small change in the model.
Requirement: | The orchestrator should be able to   calculate the diff between the current state and the desired state expressed   by a new model version and redeploy only the difference.
Extended   Description: | The orchestrator o

[2020-04-09 10:46] cankarm opened #10 "R-T5.1-6: Support of FaaS deployment to OpenFaas"
ID: | R-T5.1-6
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy TOSCA blueprint to OpenFaas
Requirement: | Support of FaaS deployment to OpenFaas
Extended   Description: | The TOSCA bluprints and Ansible playbooks   should be developed to deploy RADON model on OpenFaaS
Priority: | Must have
Affected   Tools: | TEMPLATE_LIBRARY
Means   of Verifica

[2020-04-09 10:49] cankarm opened #11 "R-T5.1-7: Support of FaaS deployment to AWS cloud platform"
ID: | R-T5.1-7
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy TOSCA blueprint to AWS
Requirement: | Support of FaaS deployment to AWS cloud   platform
Extended   Description: | The TOSCA bluprints and Ansible playbooks   should be developed to deploy RADON model on AWS cloud platform
Priority: | Must have
Affected   Tools: | TEMPLATE_LIBRARY
Me

[2020-04-09 10:50] cankarm opened #12 "R-T5.2-8: Support of FaaS_deployment to Google cloud platform"
ID: | R-T5.2-8
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy TOSCA blueprint to Google
Requirement: | Support of FaaS_deployment to Google   cloud platform
Extended   Description: | The TOSCA blueprints and Ansible   playbooks should be developed to deploy RADON model on Google Cloud
Priority: | Could have
Affected   Tools: | TEMPLATE_LIBRARY

[2020-04-09 11:12] cankarm opened #13 "R-T5.2-9: Support of FaaS deployment to Azure cloud platform"
ID: | R-T5.2-9
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy TOSCA blueprint to Azure
Requirement: | Support of FaaS deployment to Azure cloud   platform
Extended   Description: | The TOSCA bluprints and Ansible playbooks   should be developed to deploy RADON model on Azure
Priority: | Must have
Affected   Tools: | TEMPLATE_LIBRARY
Means   of

[2020-04-09 11:13] cankarm opened #14 "R-T5.2-10: Support deployment to regular VMs"
ID: | R-T5.2-10
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy my application to regular VMs
Requirement: | Support deployment to regular VMs
Extended   Description: | The TOSCA blueprints and Ansible   playbooks should be developed to deploy RADON model on regular VMs
Priority: | Must have
Affected   Tools: | TEMPLATE_LIBRARY
Means   of Verifi

[2020-04-09 11:15] cankarm opened #15 "R-T5.2-11: Support deployment to microservices architecture"
ID: | R-T5.2-11
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to be able to deploy my containerized application to microservices architecture
Requirement: | Support deployment to microservices architecture
Extended   Description: | The TOSCA blueprints and Ansible   playbooks should be developed to deploy RADON model on microservices   architecture using Docker or K

[2020-04-09 11:16] cankarm opened #16 "R-T5.4-1: The data pipeline module of the Orchestrator must be able to orchestrate data pipelines"
ID: | R-T5.4-1
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy data pipelines and control their life-cycle using RADON   toolchain
Requirement: | The data pipeline module of the Orchestrator must be able to orchestrate data pipelines
Extended   Description: | Orchestrator  must provide support for orchestrating data   pipelines.
Prior

[2020-04-09 11:16] cankarm opened #17 "R-T5.4-3: The data pipeline module of the Orchestrator should support event based scheduled data pipelines"
ID: | R-T5.4-3
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to be   able to trigger the data pipeline execution in Event-driven manner
Requirement: | The data pipeline module of the   Orchestrator should support event based scheduled data pipelines
Extended   Description: | Goal is to support data pipelines that   are executed on demand or in an event-dr

[2020-04-09 11:18] cankarm opened #18 "R-T5.4-4: It would be useful for the data pipeline module of the Orchestrator to support logging and generating alerts on pipeline task failures."
ID: | R-T5.4-4
-- | --
Type: | RELIABILITY
User   story: | As an QoS Engineer, I want to be notified   if the data pipeline execution fails
Requirement: | It would be useful for the data pipeline module of the Orchestrator to support logging and generating alerts on   pipeline task failures.
Extended   Description: | Goal is to support notifications for more   critical data pipelines, which would

[2020-04-09 11:21] cankarm opened #19 "R-T5.4-5: The data pipeline module of the Orchestrator should support deployment of data pipelines which automate movement of data between two or more clouds"
ID: | R-T5.4-5
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy data pipelines across multiple (cloud) systems
Requirement: | The data pipeline module of the Orchestrator should support deployment of data pipelines which automate   movement of data between two or more clouds
Extended   Description: | Goal is to support data pipelines t

[2020-04-09 11:22] cankarm opened #20 "R-T5.4-6: The data pipeline module must support data pipelines tasks that initiate data analytics tasks for processing data moving through the pipeline"
ID: | R-T5.4-6
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to be   able to deploy data pipelines that trigger NLP data analytics jobs
Requirement: | The data pipeline module must support   data pipelines tasks that initiate data analytics tasks for processing data   moving through the pipeline
Extended   Description: | Goal is to support defining data

[2020-04-09 11:23] cankarm opened #21 "R-T5.4-7: The data pipeline module of the Orchestrator should support configuring encryption between data pipeline tasks when data needs to be moved between systems"
ID: | R-T5.4-7
-- | --
Type: | SECURITY
User   story: | As an Operations Engineer, I want to be   able to configure encryption for data moving throgh the data pipeline
Requirement: | The data pipeline module of the   Orchestrator should support configuring encryption between data pipeline   tasks when data needs to be moved between systems
Extended   Description: | Goal is to support automatic dat

[2020-04-09 11:25] cankarm opened #22 "R-T5.4-8: The data pipeline module of the Orchestrator should support deploying data pipelines expressed using TOSCA models into the AWS data pipeline service."
ID: | R-T5.4-8
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to   deploy data pipelines to AWS data pipeline service
Requirement: | The data pipeline module of the   Orchestrator should support deploying data pipelines expressed using TOSCA   models into the AWS data pipeline service.
Extended   Description: | The goal is to support deploying data   pipelines into a

[2020-04-09 11:26] cankarm opened #23 "R-T5.4-9: The data pipeline module of the Orchestrator should support deploying data pipelines expressed using TOSCA models into a private OpenStack cloud."
ID: | R-T5.4-9
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to   deploy data pipelines to Private clouds
Requirement: | The data pipeline module of the   Orchestrator should support deploying data pipelines expressed using TOSCA   models into a private OpenStack cloud.
Extended   Description: | The goal is to support deploying data   pipelines in open source cloud

[2020-04-09 12:30] cankarm opened #24 "R-T5.3-1: The TOSCA blueprint needs to be able to support the definition of security and privacy policy of specific serverless/FaaS provider."
ID: | R-T5.3-1
-- | --
Type: | SECURITY
User   story: | As an Operations Engineer, I want to   define security and privacy policies of my application
Requirement: | The TOSCA blueprint needs to be able to   support the definition of security and privacy policy of specific serverless/FaaS provider.
Extended   Description: | The definition of security and privacy   policy in TOSCA blueprint must be

[2020-04-09 12:32] cankarm opened #25 "R-T5.3-2: The tool must be able to configure automatic scaling of the deployed components based on the auto scaling policies defined in the RADON models."
ID: | R-T5.3-2
-- | --
Type: | FUNCTIONAL_SUITABILITY
User   story: | As an Operations Engineer, I want to   define auto scaling policies of my application
Requirement: | The tool must be able to configure   automatic scaling of the deployed components based on the auto scaling   policies defined in the RADON models.
Extended   Description: | The goal is to support policy-based   (expressed in TOS

[2020-04-09 12:33] cankarm opened #26 "R-T5.3-3: The tool must be able to support configuring AWS EC2 auto scaling service based on the TOSCA auto scaling policy."
ID: | R-T5.3-3
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to   configure automatic scaling in Amazon EC2 cloud
Requirement: | The tool must be able to support   configuring AWS EC2 auto scaling service based on the TOSCA auto scaling   policy.
Extended   Description: | The goal is to set up auto scaling for   components that have been deployed in Amazon Ec2 as in

[2020-04-15 13:15] cankarm opened #27 "R-T5.3-4: The tool should be able to support configuring automatic scaling of Docker services based on TOSCA auto scaling policies."
ID: | R-T5.3-4
-- | --
Type: | PORTABILITY
User   story: | As an Operations Engineer, I want to   configure automatic scaling in a Docker based enviorement
Requirement: | The tool should be able to support   configuring automatic scaling of Docker services based on TOSCA auto scaling   policies.
Extended   Description: | The goal is to set up auto scaling for   components that have been deployed a

[2020-04-15 13:16] cankarm opened #28 "R-T5.1: The TOSCA blueprint must be able to enable Operations Engineers to define the usage of different FaaS/Serverless providers for different parts of their application."
ID: | R-T5.1
-- | --
Type: | COMPATIBILITY
User   story: | As an Operations Engineer I want to use   different FaaS/serverless providers at same time
Requirement: | The TOSCA blueprint must be able to   enable Operations Engineers to define the usage of different FaaS/Serverless   providers for different parts of their application.
Extended   Description: | An Operations Engineer can decide to use

[2020-04-15 13:17] cankarm opened #29 "R-T5.5-1: The xOpera command line interface needs to have a dry run mode to verify changes without asking for input in execution"
ID: | R-T5.5-1
-- | --
Type: | USABILITY
User   story: | As an Operations Engineer I want my   deploy stage to go through a CI tool so that my release is traceable
Requirement: | The xOpera command line interface needs   to have a dry run mode to verify changes without asking for input in   execution
Extended   Description: | a) The --dry-run flag (or something   similar) can give the user informa

[2020-04-27 13:06] giopnd opened #30 "Allow to link aws layers (by arn) when deploying aws lambda functions"
extend TOSCA blueprints to support reference a set of layers (by arn version) and specify a merge order.

when the dependencies package exceeds 50Mb of size you are not allowed to upload the dependencies package along with the lambda code (only through S3) and it is the case to use layers.
we need this for the ATC's named entities extractor lambda function.

[2020-05-13 13:49] cankarm commented on #6
Updated - during the project we decided to go wiht TOSCA 1.3 version.

[2020-05-13 13:57] cankarm commented on #29
@anzoman  what is status on that?

[2020-05-13 14:21] anzoman commented on #29
@cankarm xOpera now has a command which validates and verifies TOSCA service template and tells if all definitions were parsed successfully and to warn the user if there are any possible errors. You can run this command from CLI, for instance by `opera validate -i inputs.yml service-template.yml` and this will execute some sort of dry run which includes parsing the template without the real execut

[2020-05-13 14:25] cankarm commented on #29
great @anzoman. Anyway it seems that this is almost this.

However it seems, that this should create "diff" between old and new blueprint. I need to rethink if this is actually a good idea.

[2020-05-14 07:24] sstanovnik commented on #9
Referencing the extended description in the OP, there are two features that can be enabled without much breaking changes:

1. updating the application version by specifying the version in the xopera-opera `inputs.yml`. This would redeploy only the application, because the execution backend (Ansible) already only performs necessary changes, and doesn't delete anything.
2. updating a TOSCA module ve

[2020-06-10 07:40] cankarm commented on #11
All required templates are already available in the Template library:
[code]

[2020-06-11 07:35] anzoman opened #34 "FR-T5.1-8: xOpera orchestrator should provide the support for compressed CSARs"
ID: | FR-T5.1-8
-- | --
Type: | USABILITY
User  story: | As a user I would want to directly deploy the prepacked compressed CSAR file that includes all TOSCA templates accompanied by all other necessary artifacts (like prepared FaaS functions, Ansible playbooks, config files and so on)
Requirement: | The xOpera command line interface now supports deploying only the uncompressed CSARs. So it would

[2020-06-11 08:14] anzoman opened #35 "FR-T5.1-9: xOpera orchestrator should be available as a service/RADON SaaS component"
ID: | FR-T5.1-9
-- | --
Type: | USABILITY
User  story: | As a user I want to deploy my prepared TOSCA templates/CSARs using the SaaS orchestrator and I would only need to supply the prepared files and then the orchestration would begin.
Requirement: | For users it would be useful to have multiple interaction modes. One of them is already supported and is a CLI that is meant to be used in shell ses

[2020-06-11 08:35] anzoman opened #36 "FR-T5.3-5: SaaS orchestrator should be IAM compliant and should include proper level of security"
ID: | FR-T5.3-5
-- | --
Type: | USABILITY
User  story: | As a user I would want to use the SaaS orchestartor component independently from other users. To me it would be important to be able to manage my user account settings and to be sure that my secrets are safe and that the orchestration process that use those secrets can do no harm or expose them to some public place.
Requirement: | It seems n

[2020-06-11 08:38] neza-vehovar opened #37 "FR-T5.2-12: Template library publishing service filtering of entities"
ID: | FR-T5.2-12
-- | --
Type: | USABILITY
User   story: | As an Operations Engineer I want to be able to filter template library entities by groups (AWS, lambda, FaaS) and types of entities (nodetype, policytype, relationshiptype,...).
Requirement: | The TLPS needs to label new entities and filter existing entities.
Extended   Description: | a) The TLPS needs to label entities by groups and by ty

[2020-06-11 09:01] anzoman opened #38 "FR-T5.3-6: xOpera should support all available TOSCA policy type keywords"
ID: | FR-T5.3-6
-- | --
Type: | USABILITY
User story: | A lot of users use TOSCA Policy Types which are a logical grouping of TOSCA nodes that use an implicit relationship and need to be managed together during the orchestration process in order to give some result. To exploit the policies to their full potential users would desire to be able to use all the supported keywords for policies along wi

[2020-06-11 09:26] anzoman opened #39 "FR-T5.1-10: TOSCA orchestrator could provide a packaging command to prepare CSAR files"
ID: | FR-T5.1-10
-- | --
Type: | USABILITY
User  story: | As a user I would want to easily prepare TOSCA CSAR file for the orchestration and compress it with all the accompanying files needed for the deployment
Requirement: | xOpera tool could provide a simple packaging command that would prepare the zipped version of the CSAR archieve which could then be used for the deployment or to transfer it

[2020-06-11 09:35] anzoman opened #40 "FR-T5.1-11: xOpera should be able to parse get_artifact TOSCA function"
ID: | FR-T5.1-11
-- | --
Type: | USABILITY
User  story: | As a user I would want to use the prepared orchestration artifacts (e.g zipped FaaS function files) directly in a sevice template.
Requirement: | xOpera tool should have a support for `get_artifact` TOSCA function that is used to retrieve artifact location between entities defined in the same service template.
Extended Description: | Here t

[2020-06-11 09:49] anzoman opened #41 "FR-T5.1-12: Orchestrator should consider each deployment separately"
ID: | FR-T5.1-12
-- | --
Type: | USABILITY
User  story: | xOpera users would usually want to distinguish each deployment and when they run they would want to be treated separately from all other deployments that have been/would be created before/after.
Requirement: | xOpera TOSCA orchestration tool should implement a different behaviour of treating the deployment runned by `opera deploy`. This mea

[2020-06-11 10:41] neza-vehovar opened #42 "FR-T5.2-13: Template library publishing service should be RADON IAM compliant"
ID: | FR-T5.2-13
-- | --
Type: | USABILITY
User   story: | As a user I would like to use the same credentials for the whole RADON project including template library publishing service.
Requirement: | The TLPS needs to support the use of agreed upon security measures.
Extended   Description: | The TLPS needs to support the use of general RADON credentials as CLI login credentials.
Priority: | Shoul

[2020-06-11 12:07] neza-vehovar opened #43 "FR-T5.2-14: Generating a basic entity with template library CLI"
ID: | FR-T5.2-14
-- | --
Type: | USABILITY
User   story: | As a user I would like to be able to generate a basic entity.
Requirement: | User should be able to generate an entity directory structure.
Extended   Description: | Template library CLI command for generating an entity directory structure with all necessary files, so that creating a template is made easier for the user and common issues r

[2020-06-11 12:55] anzoman commented on #3
The last link you posted here is related to this final requirement: #34.

[2020-06-11 13:04] anzoman commented on #5
[xOpera](https://github.com/xlab-si/xopera-opera) orchestrator is currently available as a CLI tool. We also have prepared, provided and tested several TOSCA CSAR files(blueprints) and templates that reside in these repositories:

- https://github.com/radon-h2020/demo-tosca-blueprint-aws-lambda
- https://github.com/radon-h2020/demo-tosca-blueprint-azure-function
- https://github.com/radon-h2020/de

[2020-06-11 13:11] anzoman commented on #6
As of now [xOpera](https://github.com/xlab-si/xopera-opera) provides compliance with the [TOSCA Simple Profile in YAML v1.3.](https://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.3/cos01/TOSCA-Simple-Profile-YAML-v1.3-cos01.html). That can also be evident from:

- TOSCA template examples in https://github.com/xlab-si/xopera-opera/tree/master/examples
- opera's integration tests in: https

[2020-06-11 13:16] anzoman commented on #7
xOpera currently provides status of the deployment in the storage folder that is created in `.opera` folder. Here the subfolder `instances` gets created when the deployment starts and for each instance the status can be seen. The statuses (states) are named like: `initial`, `created`, `started` and so on.

This is also evident here: https://github.com/xlab-si/xopera-opera/blob/ffe72a4dce9ac24f3330

[2020-06-11 13:19] anzoman commented on #8
This is posssible since [xOpera](https://github.com/xlab-si/xopera-opera/) TOSCA orchestration tool has `opera validate` command which can validate the TOSCA CSAR/service template and tell whether the template can be deployed or not. If there is a syntax error somewhere opera will find it.

This is also tested every night within opera's integration tests here: https://github.com/xlab-si/xopera-ope

[2020-06-11 13:22] anzoman commented on #9
This can be somehow related to this issue: #41 where it is stated that xOpera shuold consider the deployments separately and would have special CLI options to resume or start over the deployment.

[2020-06-11 13:26] anzoman commented on #10
Well it is your lucky day since this is possible and has been provided within this repository: https://github.com/radon-h2020/demo-tosca-blueprint-openfaas where we prepared a blueprint of TOSCA image-resize/thumbnail-genrator application that can be deployed with xOpera and features MinIO object storage and OpenFaaS. There is even a part where you can set up those two tools with xOpera so that yo

[2020-06-11 13:44] anzoman commented on #10
I forgot to mention that the templates for OpenFaaS are also available in Template Library:

![image](https://user-images.githubusercontent.com/41727816/84392294-72895d00-abfa-11ea-887e-6427d3b2c5ff.png)

[2020-06-11 13:52] anzoman commented on #12
This is currently in backlog and will probably be implemented in the next month or two.

[2020-06-11 13:58] anzoman commented on #14
Currently [xOpera](https://github.com/xlab-si/xopera-opera) supports deployment to a remote VMs. User should have SSH keys configured (`~/.ssh/config` file can be helpful here) and then he can use `OPERA_SSH_USER` to state which user he wants to connect as. We have prepared some examples of TOSCA blueprints that can be deployed to a remote VM, especially OpenFaaS solution is interesting and is ava

[2020-06-11 14:00] anzoman commented on #17
Currently [xOpera](https://github.com/xlab-si/xopera-opera) does not include and explicit support for data pipelines. I am not sure if this has to be the part of the orchestrator but we certainly can create an issue on opera's GitHub repository and ask there.

[2020-06-11 14:02] anzoman commented on #18
Currently [xOpera](https://github.com/xlab-si/xopera-opera) does not include a special module for data pipelines and this enhancement has not been proposed there. Also look here: #17.

[2020-06-11 14:03] anzoman commented on #19
Take a look at for my first comment here: #17.

[2020-06-11 14:04] anzoman commented on #20
Take a look at for my first comment here: #17.

[2020-06-11 14:04] anzoman commented on #23
Take a look at for my first comment here: #17.

[2020-06-11 14:04] anzoman commented on #21
Take a look at for my first comment here: #17.

[2020-06-11 14:04] anzoman commented on #22
Take a look at for my first comment here: #17.

[2020-06-11 14:07] anzoman commented on #25
Defining policies is already possible with [xOpera](https://github.com/xlab-si/xopera-opera) tool but we don't provide the support for autoscaling explicitly but for me this is not an easy thing to do. So I think that we should open an issue in xOpera's repo and ask about this and maybe provide some examples (diagrams) for the discussion.

[2020-06-11 14:09] anzoman commented on #26
As of now auto scaling is not explicitly supported within [xOpera](https://github.com/xlab-si/xopera-opera), related to this: #25.

[2020-06-11 14:09] anzoman commented on #27
As of now auto scaling is not explicitly supported within xOpera, related to this: #25.

[2020-06-12 05:46] anzoman opened #44 "FR-T5.1-13: Orchestrator could support using ssh private keys"
ID: | FR-T5.1-13
-- | --
Type: | USABILITY
User  story: | As a user of the xOpera tool  I would want to point the orchestrator to my private key that needs to be used for the connection to the remote machine.
Requirement: | As of now xOpera orchestrator offers  `OPERA_SSH_USER` environment variable which is used by the Ansible executor when establishing the connection to a remote machine to tell w

[2020-06-12 06:20] neza-vehovar opened #45 "FR-T5.2-15: Publishing and retrieving entities with template library CLI"
ID: | FR-T5.2-15
-- | --
Type: | USABILITY
User   story: | As a user I want to be able to save entities by versions and retrieve them when needed.
Requirement: | Template library publishing service needs to enable saving entities and adding new versions. User needs to be able to retrieve a version.
Extended   Description: |  Versions need to be unchangeable entries that offer stability in the deve

[2020-06-12 08:04] neza-vehovar opened #46 "FR-T5.2-16: Listing versions of a template with template library CLI"
ID: | FR-T5.2-16
-- | --
Type: | USABILITY
User   story: | As a user I would like to list all the versions of a template.
Requirement: | Template library CLI must support listing versions.
Extended   Description: | Listing versions should be done by the name of a template or by the ID of the template.
Priority: | Must have
Affected   Tools: | TEMPLATE_LIBRARY
Means   of Verification: | Using templ

[2020-06-12 11:33] cankarm commented on #10
That's perfect. From now we will close this issue and missing things add as new issues.

[2020-06-12 11:33] #10 closed, assigned to nobody

[2020-06-12 11:34] cankarm commented on #11
As initial templates to form basic AWS FaaS operations are present, I'm closing this issue.

[2020-06-12 11:34] #11 closed, assigned to nobody

[2020-06-12 11:36] cankarm commented on #37
This is a new requirement, based on progress of Template Library development, focused on TLPS (Template Library Publishing Service).

@gcasale , should review this to be effective.

[2020-06-12 11:37] cankarm commented on #37
@gcasale , if requirement is OK, remove yellow "workinprogress" label. Thanks.

[2020-06-12 11:39] cankarm commented on #42
This is a new requirement raised by user request, who wants to have one ID management inside RADON.

@gcasale , please confirm and remove "WorkInProgress" label, if OK.

[2020-06-12 11:41] cankarm commented on #43
This is an enchancement based on user requirements.

@gcasale , please confirm a new requirement and remove "workinprogress" label.

[2020-06-12 13:36] gcasale commented on #43
Approved.

[2020-06-12 13:37] gcasale commented on #37
This reads like a should more than a must any particular reason for this prioritization?

[2020-06-12 13:37] gcasale commented on #42
Approved.

[2020-06-12 20:38] cankarm commented on #37
I agree we can downgrade to "should". The prioritization is high as it makes a good tool unusable if we lack a decent filtering of the content.

[2020-06-12 20:42] cankarm commented on #46
The priority is "must" because, without the ability to list/access versions, user cannot download a particular version.
@gcasale to confirm.

[2020-06-12 20:48] gcasale commented on #37
Accepted as "must" then.

[2020-06-12 20:48] cankarm commented on #44
This request is not crucial for RADON as the targeted users (FaaS developers) do not desperately need SSH. However in microservice scenario this could be beneficial to have.
Therefore "Could have"
@gcasale

[2020-06-12 20:48] gcasale commented on #46
Accepted

[2020-06-12 20:49] gcasale commented on #45
Accepted

[2020-06-12 20:50] cankarm commented on #40
Thanks @anzoman,
@gcasale  to review

[2020-06-12 20:55] gcasale commented on #44
Accepted

[2020-06-12 20:56] gcasale commented on #40
This seems a must?

[2020-06-12 21:09] cankarm commented on #40
This gives a better user experience and makes templates even more general, as it is possible to change/inject new artefacts (FaaS functions) in existing templates.

However, I don't see it as a must.

[2020-06-12 21:32] cankarm commented on #39
Good enhancement, but not crucial.

@gcasale, please review

[2020-06-12 21:36] cankarm commented on #41
This requirement is relevant and the basics have been discussed also here: https://github.com/xlab-si/xopera-opera/issues/46.

@gcasale: please review.

[2020-06-12 21:42] cankarm commented on #38
Thanks @anzoman. This will probably be a requirement of complex microservice applications.

@gcasale, please confirm.

[2020-06-12 21:47] cankarm commented on #34
I approve this one.

@gcasale , please confirm.

[2020-06-12 21:49] cankarm commented on #36
This is already an ongoing task.

@gcasale , please confirm.

[2020-06-12 21:51] cankarm commented on #35
This is one is also ongoing task.

@gcasale , please approve

[2020-06-13 05:11] gcasale commented on #39
Unlikely to be needed in RADON but ok to keep as an idea.

[2020-06-13 05:11] gcasale commented on #39
Accepted

[2020-06-15 10:32] gcasale commented on #40
Accepted

[2020-06-15 10:33] gcasale commented on #41
Accepted

[2020-06-15 10:34] gcasale commented on #38
Is there something in the DoA that justifies this being a should instead than a could?

[2020-06-15 10:34] gcasale commented on #34
Accepted

[2020-06-15 10:34] gcasale commented on #36
Approved

[2020-06-15 10:35] gcasale commented on #35
Approved

[2020-06-15 12:44] cankarm commented on #38
Directly no, but indirectly I think that we will need them for Sock Shop example and more complex policies. We can downgrade for now, if this it seems more reasonable.

[2020-06-15 14:12] gcasale commented on #38
Approved as a could.

[2020-06-17 08:52] naesheim opened #48 "R-T5.16 - CI/CD templates"
| ID | R-T5.16|
| --- | --- |
| Section | WP5: Toolchain|
| Type | USABILITY |
| User Story | As a user I want to bootstrap my workflow by selecting from a template of CI configurations |
| Requirement | Provide Jenkinsfiles with suggested setup for CI/CD |
| Extended Description | The Jenkinsfile should provide the end-user with a best practice approach for getting started with CI/CD in the scope

[2020-06-29 15:42] pjakovits opened #49 "R-T5.4-10 Support Google BigQuery data warehouse as a data source when deploying data pipelines."
| ID | R-T5.4-10 |
| ------------- | ------------- |
| Section|	WP5: Runtime environment |
|Type|	FUNCTIONAL_SUITABILITY|
|User Story|	As a Operations Engineer, I want to be able to design and deploy data pipelines which send or recieve data from Google BigQuery data warehouse. |
|Requirement|	 Support Google BigQuery data warehouse as a data source when deploying data pipelines.  |
|Extended Desc

[2020-06-29 15:43] pjakovits commented on #49
New requirement. Please verify for approval @gcasale .

[2020-06-29 16:46] gcasale commented on #49
Approved/

[2020-06-30 05:04] gcasale commented on #11
Closed state approved.

[2020-06-30 05:04] gcasale commented on #10
Closed state approved.

[2020-07-10 13:40] cankarm commented on #34
Will be available in the next orchestrato release.

Functionality has been added with the following PR: https://github.com/xlab-si/xopera-opera/pull/55

[2020-07-10 13:48] anzoman commented on #38
The first part for this requirement has been realized by supporting TOSCA policy `targets` keyname within this PR here: https://github.com/xlab-si/xopera-opera/pull/54. This will be available with the next opera release and next we will try to implement policy type `triggers`.

[2020-07-10 13:50] anzoman commented on #44
This feature has been implemented within this PR: https://github.com/xlab-si/xopera-opera/pull/61 and `OPERA_SSH_IDENTITY_FILE` env var will be available for use with the new opera version.

[2020-07-13 06:26] gcasale commented on #44
OK to close.

[2020-07-13 06:27] gcasale commented on #38
Thanks for the update.

The requirement table needs to be changed to could as it was approved this way.

[2020-07-13 06:37] cankarm commented on #38
Fixed priority, appropriate labels added.

[2020-09-14 08:30] anzoman commented on #34
The support for compressed CSARs was added in opera version [0.5.8](https://github.com/xlab-si/xopera-opera/releases/tag/0.5.8).

[2020-09-14 08:32] anzoman commented on #38
The latest opera version [0.6.0](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.0) now supports parsing for all TOSCA policy keywords.

[2020-09-14 08:33] anzoman commented on #40
Opera [0.6.0](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.0) now supports using `get_artifact` TOSCA function.

[2020-09-14 08:34] anzoman commented on #41
This was realized with this PR: https://github.com/xlab-si/xopera-opera/issues/46 and is available in the latest opera version [0.6.0](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.0).

[2020-09-14 08:36] anzoman commented on #44
The feature is already available in [`0.6.0`](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.0) opera's release.

[2020-09-14 09:05] chinmaya-dehury opened #50 "R-T5.4-2 The data pipeline module of the Orchestrator must support cron based scheduled data pipelines."
ID | R-T5.4-2
-- | --
Section | WP5: Runtime environment
Type | FUNCTIONAL_SUITABILITY
User Story | As an Operations Engineer, I want to be able to schedule data pipelines periodically.
Requirement | The data pipeline module of the Orchestrator must support cron based scheduled data pipelines.
Extended Description | Goal is to allow users to configure specific times and intervals when the data pip

[2020-09-14 09:06] chinmaya-dehury commented on #50
Missing requirement added. Please verify for approval @gcasale .

[2020-09-14 09:38] chinmaya-dehury commented on #23
As the available TOSCA node types and the related Ansible implementation are ready in radon-particles repo, this issue can be closed now. @gcasale .

[2020-09-14 09:39] gcasale commented on #50
Approved

[2020-09-14 09:40] gcasale commented on #41
OK to close

[2020-09-14 09:40] chinmaya-dehury commented on #16
@cankarm , Can you please add "Data Pipeline" label to this issue?

[2020-09-14 09:44] gcasale commented on #23
OK

[2020-09-14 09:46] gcasale commented on #34
OK to close

[2020-09-14 09:46] chinmaya-dehury commented on #16
The required basic templates, implementation file and other related files are ready and can be orchestrated with the RADON Orchestrator. A demo can be seen [here](https://www.youtube.com/watch?v=_6zTEj2ZJ54). Please verify for approval @gcasale .

[2020-09-14 09:46] gcasale commented on #38
OK to close

[2020-09-14 09:46] gcasale commented on #40
OK to close

[2020-09-14 09:47] chinmaya-dehury commented on #49
@cankarm , Can you please add "Data Pipeline" label to this issue?

[2020-09-14 09:49] gcasale commented on #16
This unlikely to be the final version, if so the requirement needs to remain open.

[2020-09-14 09:53] chinmaya-dehury commented on #23
Thanks @gcasale .
Can we please close this issue now, @cankarm ?

[2020-09-14 10:21] #23 closed, assigned to nobody

[2020-09-14 10:21] cankarm commented on #23
Thanks for the contribution!

[2020-09-14 10:22] #34 closed, assigned to cankarm, gcasale

[2020-09-14 10:22] #38 closed, assigned to cankarm, gcasale

[2020-09-14 10:22] #40 closed, assigned to cankarm, gcasale

[2020-10-12 06:30] cankarm commented on #8
@marklaw is there any else from your progress we can use on that? (Sorry for the strange name - typo in issue name) but the issue was probably created before me. I think that it should say "...needs to verify deployment and its dependencies).

[2020-10-12 08:16] marklaw commented on #8
It's hard for me to say because I'm not sure what a deployment looks like. It is TOSCA, or some other format? What are the kinds of things that you would need to verify?

[2020-10-12 09:00] cankarm commented on #8
A deployment means that there are components (VMs, Containers, Functions) deployed and configured as stated in TOSCA. I do think that we can apply here the same approach as it used by others - most of the verification can be made before the deploy:
 * one part is done by verification tools (checking TOSCA)
 * one part is done by the orchestrator using "validate" command (checking CSAR & TOSCA if t

[2020-10-12 10:06] marklaw commented on #8
That sounds doable. I won't have much time until after the current deliverables are out of the way, but we could try to do something simple after that.

[2020-10-15 08:20] cankarm commented on #3
From what I see, all related requirements are achieved.
Closing the issue.

[2020-10-15 08:20] #3 closed, assigned to nobody

[2020-10-15 08:32] anzoman commented on #36
@cankarm AFAIK this is is already implemented. @sstanovnik can you approve that we have this?

[2020-10-15 08:54] anzoman commented on #44
I'm closing this issue since we have completed its objective by supporting private keys within opera.

[2020-10-15 08:54] #44 closed, assigned to cankarm, gcasale

[2020-10-15 08:56] anzoman commented on #41
With the new opera deploy command switches we have increased orchestrator's usability and assured that the orchestrator will treat deployments separately when needed. Therefore we can close this.

[2020-10-15 08:56] #41 closed, assigned to cankarm, gcasale

[2020-10-15 09:04] anzoman commented on #35
This can be closed. We have already developed the SaaS orchestrator component that is currently available here: https://xopera-radon.xlab.si/ui and we are already preparing detailed documentation here: https://github.com/xlab-si/xopera-opera/pull/110.

[2020-10-15 09:04] #35 closed, assigned to cankarm, gcasale

[2020-10-15 09:07] anzoman commented on #12
The blueprint with thumbnail generator GCP application is here: https://github.com/radon-h2020/demo-tosca-blueprint-gcp and it works perfectly. This means that the issue can now be closed.

[2020-10-15 09:07] #12 closed, assigned to nobody

[2020-10-15 09:13] cankarm commented on #36
This can be closed as the goal described by the title is achieved.

There is a slight difference from the extended description. The xOpera SaaS is developed in a way that each deploy is an isolated project inside a container. Therefore it is safe to store and manage credentials there, as they are not accessible to other projects. Consequently, there is no need to pass the credentials through the i

[2020-10-15 09:13] #36 closed, assigned to cankarm, gcasale

[2020-10-15 09:14] anzoman commented on #14
This is fully supported (we also have the [support for private SSH files](https://github.com/radon-h2020/radon-delivery-toolchain/issues/44) used when connecting to the VM, blueprints that this was tested with are also available in the Template library and on GitHub) and I will close the issue.

[2020-10-15 09:14] #14 closed, assigned to nobody

[2020-10-15 09:16] anzoman commented on #5
Tasks are executable through CLI and this was tested numerous times now. So, I think that the time is right to close this.

[2020-10-15 09:16] #5 closed, assigned to nobody

[2020-10-15 09:18] anzoman commented on #9
Connected also to #29.

[2020-10-15 09:19] cankarm commented on #29
The "dry run" is achieved through the ```validate``` command. The diff is not sometnihg that orchestrator should do, but rather the outside scaler. I'm closing this one.

[2020-10-15 09:19] #29 closed, assigned to cankarm, anzoman

[2020-10-15 09:25] anzoman commented on #7
There has been an update for the opera orchestrator. Now we have [`opera info` ](https://github.com/xlab-si/xopera-opera/pull/106) CLI command that is meant to inform user about the current opera project and would allow him to access its storage and state. User can execute it anytime and he will get a JSON/YAML output that looks like this:

[code]

So basically user can find out what has happened

[2020-10-15 09:28] anzoman commented on #6
This is done and can be closed.

[2020-10-15 09:28] #6 closed, assigned to nobody

[2020-10-15 09:29] anzoman commented on #39
This is currently in future plans: https://github.com/xlab-si/xopera-opera/pull/42.

[2020-10-15 09:33] cankarm commented on #9
I would like to close this issue without a resolution because a diff of two yaml's cannot be utilised in a way that it was expected at start. Deploying one blueprint and then "redeploying" another one over the first one can work only in limited way. Those useful diffs are mostly addressed by the diff of ```inputs.yaml``` - so changes in configuration. More complex application changes cannot be ach

[2020-10-16 14:02] cankarm commented on #28
We do have support to deploy application on multiple providers simultaneously.
Examples are available on radon-h2020 github.

This can be closed.

[2020-10-16 14:02] #28 closed, assigned to nobody

[2020-10-19 13:42] cankarm commented on #9
Additional information that I forget to mention before - RADON GMT has an option that crates diff between different versions of bluepritnts. Therefore the priority change.

I propose to lover the priority from "must" to "could", as this functionality is provided by RADON GMT (diff between versions) and therefore is not so necessary to develop this part.

[2020-10-28 09:48] cankarm commented on #9
At the time of the project, the focus of the users is on the day-one operations, therefore there is no urgent request that this functionality should be added into the project.

@gcasale  I propose that we change this to SHOULD.

We can re-evaluate after when/if this functionality will gain more interest.

[2020-10-28 10:22] gcasale commented on #9
Agreed, this is not a primary usage scenario - I approve this change.

[2020-10-28 10:26] cankarm commented on #24
Currenlty, half of the "policies" undestood from the decription can be complied with a proper confugiration (e.g. location of deployment, etc). The DoS attack or similar security policy handling has been addressed in D5.2.

@gcasale I propose to lower this priority to SHOULD as it needs a better description from a use-case to understand if anything is missing in the picture.

[2020-11-25 13:21] cankarm commented on #48
As discussed in parallel calls, we can incorporate SaaS using the examples of curl calls: https://github.com/xlab-si/xopera-opera/blob/master/docs/saas.rst

[2020-11-25 13:23] cankarm commented on #46
![2020-11-11 15_21_03-Screenshots](https://user-images.githubusercontent.com/2518386/100233237-bf06f180-2f29-11eb-88da-2abd8f16537a.png)

This is done in CLI version.

[2020-11-25 13:23] #46 closed, assigned to cankarm, gcasale

[2020-11-25 13:25] cankarm commented on #45
This one is achieved through the EclipseChe and CLI. For more details follow https://template-library-radon.xlab.si/docs/.

[2020-11-25 13:25] #45 closed, assigned to cankarm, gcasale

[2020-11-25 13:27] cankarm commented on #42
Publishing to TPS is possible with RADON credentials (RADON IDE KeyCloak support) at least for Eclipse Che plugin.

[2020-11-25 13:35] cankarm commented on #7
Statuses are quite evident from the xOpera SaaS version, together with the detailed progress output.

The only question here is if we need to connect this with the monitoring system or it is not needed (as this is a deployment process, not monitoring of an application). @giopnd, what do you think?

[2020-11-25 13:35] #2 closed, assigned to cankarm

[2020-11-25 13:38] cankarm commented on #9
Related with https://github.com/xlab-si/xopera-opera/issues/130.

[2020-11-26 09:48] giopnd commented on #7
I think that the monitoring system does not fit in this context since it refers to the monitoring of the runtime behavior of an application. There are no metrics to monitor during the deployment stages.
Btw the 'opera info' functionality looks nice.

[2021-01-18 11:23] anzoman commented on #39
The `opera package` and `opera unpackage` CLI commands used for preparing an unpacking TOSCA CSARs were introduced in opera version [0.6.3](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.3) and are also available in the latest opera version [0.6.4](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.4). I thus propose closing this issue.

cc @cankarm

[2021-01-18 11:28] gcasale commented on #39
I agree and thanks for these great additions.

[2021-01-18 11:28] anzoman commented on #9
Good news - with the [latest](https://pypi.org/project/opera/0.6.4/) opera version ([0.6.4](https://github.com/xlab-si/xopera-opera/releases/tag/0.6.4)) we introduced `opera diff` CLI command that finds and displays the differences between the deployed blueprint and supplied blueprint. User can also invoke `opera update` command that would calculate diff and redeploy the blueprint according to the

[2021-01-18 11:30] cankarm commented on #39
Sure, @anzoman, I'm closing this issue.

[2021-01-18 11:30] #39 closed, assigned to cankarm, gcasale

[2021-01-18 11:30] gcasale commented on #9
Agreed

On Mon, 18 Jan 2021 at 11:29, Anže Luzar <notifications@github.com> wrote:

[2021-01-18 11:31] #9 closed, assigned to nobody

[2021-01-18 11:34] anzoman commented on #7
@cankarm since `opera info` is available and can be used at any stage of orchestration to show the information about the current project status, do you think that this is done and can be closed? I also see that the status can be monitored with radon-monitoring-tool.

[2021-01-18 11:39] cankarm commented on #7
Additionally, if something is deployed using xOperaSaaS, user can get the status from the xOperaSaaS GUI or through a response on the API call.

We can close this if @giopnd agrees.

[2021-01-18 11:58] anzoman commented on #13
@cankarm this is done as we have TOSCA blueprints that can deploy services to Microsoft Azure cloud:

- [thumbnail-generator](https://github.com/radon-h2020/demo-tosca-blueprint-azure-function)
- [AWS-Azure connection with image-resize and image-watermark functionalities](https://github.com/radon-h2020/demo-tosca-blueprint-faas-aws-azure)

[2021-01-18 12:06] anzoman commented on #37
Filtering templates is possible through the [TPS REST API](https://template-library-radon.xlab.si/swagger/#/templates/get_templates_filter).

![image](https://user-images.githubusercontent.com/41727816/104913008-51a59900-598d-11eb-86f7-4995f9f866bd.png)

We need to support this feature also in TPS CLI.

[2021-01-18 12:15] cankarm commented on #13
OK, @anzoman thanks for putting this out!

[2021-01-18 12:15] #13 closed, assigned to nobody

[2021-01-18 12:31] anzoman commented on #42
Authentication to TPS can now be performed using RADON KeyCloak/Che. This can be done when using TPS REST API where you will be redirected to login as a RADON KeyCloak/Che user or even better you can use [Eclipse Che TPS plugin](https://github.com/radon-h2020/radon-template-library-publishing-service-plugin) to be able tu use TPS actions within RADON IDE/Eclipse Che. More info about TPS auth is av

[2021-01-18 13:17] cankarm commented on #42
@anzoman  what about TPS CLI? Is it possible to use RADON/Che KeyCloak user?

[2021-01-18 13:20] anzoman commented on #42
@cankarm no, on TPS CLI we still need to implement this. Currently the login is possible only through our KeyCloak.

[2021-02-02 16:40] anzoman commented on #42
@cankarm the feature to login with RADON IDE KeyCloak credentials via [Template library CLI](https://pypi.org/project/xopera-template-library/) is now available in version [`0.2.1`](https://pypi.org/project/xopera-template-library/0.2.1/).

The login process with my RADON KeyCloak credentials is shown below:

[code]

[2021-02-02 16:40] anzoman commented on #37
@cankarm filtering feature for TPS modules is now available in the latest version of TPS CLI ([xopera-template-library 0.2.1](https://pypi.org/project/xopera-template-library/0.2.1/)).

The example below shows the filtering of public AWS node-type TOSCA templates.

[code]

[2021-02-03 07:45] anzoman commented on #43
[Template library CLI](https://pypi.org/project/xopera-template-library/) is now capable of generating a basic model with the structure similar to the one used in Winery/radon-particles. This model helps users to create consistent TPS models, which can then be modified and stored to Template library service.

A simple example:

[code]

cc @cankarm

[2021-02-03 07:58] cankarm commented on #42
Perfect! Thanks @anzoman !

[2021-02-03 07:58] #42 closed, assigned to cankarm, gcasale

[2021-02-03 08:11] cankarm commented on #43
Hey, that seems nice.

Is there any convention about the versioning of those templates? In other words, it is possible that CASR structures would change at some point in time?

I know that this is a "long shot" but I would like to understand now if this is already possible. Do you know anything about that?

[2021-02-03 08:56] anzoman commented on #43
These files that are generated with the TPS CLI can change if the Winery/radon-particles changes the structure. With this `create` TPS CLI subcommand we just want to make TPS models compatible with Winery, but the user can still upload his own structure if he wants or change this structure with a new template version.

Another thing is that the generated structure above is not a proper TOSCA CSAR

[2021-02-03 09:04] cankarm commented on #43
Thanks, that's perfect!

We can close this, please confirm @gcasale.

[2021-02-03 09:08] cankarm commented on #37
Thanks, that's great.

Please close this @gcasale.

[2021-02-11 14:13] chinmaya-dehury commented on #21
To provide the encryption feature, we have created TOSCA data pipeline node types for encryption ([Encrypt TOSCA node](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.process/Encrypt)) and decryption ([Decrypt TOSCA node](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.process/Decrypt)).  This issue can be

[2021-02-11 14:17] cankarm commented on #21
Hi, I would just like to clarify something. I see there is a `create.yml` and I don't see `delete.yml`. I hope that this is used in a way that `opera undeloy` will still clean everything? Or this is missing here?

Thanks for the clarification.

[2021-02-11 14:31] chinmaya-dehury commented on #21
For `opera undeploy`, the definition of `delete ` operation and corresponding implementation (`delete.yml`) are in the [`parent TOSCA node`](https://github.com/radon-h2020/radon-particles/blob/master/nodetypes/radon.nodes.datapipeline/PipelineBlock/NodeType.tosca). the parent TOSCA node also provides the definition for `start` and `stop` operations.

[2021-02-11 14:44] chinmaya-dehury commented on #19
A number of TOSCA node types are created to support the movement of data between two or more clouds.

[`ConsGCSBucket`](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.source/ConsS3Bucket), [`ConsAzureBlob`](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.source/ConsAzureBlob), and [`ConsS3Bucket`](https://

[2021-02-11 14:58] chinmaya-dehury commented on #50
Please add "Data Pipelines" label to this issue  @cankarm .

[2021-02-11 15:32] chinmaya-dehury commented on #22
A number of TOSCA node types are developed that deploy the data pipeline into AWS data pipeline service. For instance, [`AWSCopyS3ToDynamodb`](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.Standalone/AWSCopyS3ToDynamodb) TOSCA node type can be used to create and deploy data pipeline into AWS data pipeline service to move data form S3 bucket to dynamo

[2021-02-12 07:30] cankarm commented on #21
Ok, great, thanks!

[2021-02-12 11:37] cankarm commented on #50
@chinmaya-dehury done. I was not aware that you are not able to do it yourself.

[2021-02-15 10:53] anzoman commented on #15
@cankarm Docker and Kubernetes examples are now available in the Template library and can be accessed through the API or CLI.

[code]
![image](https://user-images.githubusercontent.com/41727816/107937018-a8e65b80-6f83-11eb-800c-a6eb3e67647d.png)

Those examples are also available in [xopera-examples](https://github.com/xlab-si/xopera-examples) repository within the [kubernetes](https://github.com/

[2021-03-29 07:48] chinmaya-dehury commented on #50
For CRON based scheduling, the necessary properties are added to the parent node [radon.nodes.datapipeline.PipelineBlock](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline/PipelineBlock), which will be available to all the inherited child nodes. The respective configuration implementations are added to all the node types.

This issue can be closed now. @

[2021-03-29 07:51] chinmaya-dehury commented on #17
For event based scheduling, the necessary properties are added to the parent node [radon.nodes.datapipeline.PipelineBlock](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline/PipelineBlock), which will be available to all the inherited child nodes. The respective configuration implementations are add to all the nodetypes.

This issue can be closed now. @gc

[2021-03-29 07:59] chinmaya-dehury commented on #20
To fulfill this requirement, [AWSEMRActivity ](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.datapipeline.Standalone/AWSEMRactivity) is created that initiates the data analytics tasks atop EMR cluster in Amazon Cloud platform for processing data moving through the pipeline.

This issue can be closed now. @gcasale

[2021-03-29 08:03] gcasale commented on #17
OK

On Mon, 29 Mar 2021 at 08:51, Chinmaya Dehury ***@***.***>
wrote:

[2021-03-29 08:03] gcasale commented on #20
Agreed

On Mon, 29 Mar 2021 at 09:00, Chinmaya Dehury ***@***.***> wrote:

[2021-03-29 08:03] gcasale commented on #50
Agreed

On Mon, 29 Mar 2021 at 08:49, Chinmaya Dehury ***@***.***>
wrote:

[2021-03-31 07:33] chinmaya-dehury commented on #18
The data pipeline nodetypes, such as [AWSCopyDynamodbToS3](https://github.com/radon-h2020/radon-particles/blob/master/nodetypes/radon.nodes.datapipeline.Standalone/AWSCopyDynamodbToS3/NodeType.tosca), [AWSEMRactivity](https://github.com/radon-h2020/radon-particles/blob/master/nodetypes/radon.nodes.datapipeline.Standalone/AWSEMRactivity/NodeType.tosca), and others, are now having the features to su

[2021-03-31 08:21] chinmaya-dehury commented on #16
All the requirements are fulfilled.
Some are waiting for approval (#18 , #19 , #21 , #22 ), some are approved to be closed (#50 , #17 , #20 ) and requirement #23 is closed.

This final issue can be closed if above-mentioned are approved. @gcasale

[2021-03-31 08:28] chinmaya-dehury commented on #50
Thank you. This is closed now.

[2021-03-31 08:28] #50 closed, assigned to nobody

[2021-03-31 08:30] chinmaya-dehury commented on #20
Please close this issue. @cankarm

[2021-03-31 08:31] #20 closed, assigned to nobody

[2021-03-31 08:31] chinmaya-dehury commented on #17
Please close this issue. @cankarm

[2021-04-01 06:26] gcasale commented on #19
Approved

[2021-04-01 06:26] #21 closed, assigned to nobody

[2021-04-01 06:26] gcasale commented on #21
Approved

[2021-04-01 06:26] #19 closed, assigned to nobody

[2021-04-01 06:26] gcasale commented on #22
Approved

[2021-04-01 06:26] #22 closed, assigned to nobody

[2021-04-01 06:27] gcasale commented on #18
Approved

[2021-04-01 06:27] #18 closed, assigned to nobody

[2021-04-01 06:27] gcasale commented on #16
Approved

[2021-04-01 06:27] #16 closed, assigned to nobody

[2021-04-01 06:59] anzoman commented on #26
We have released new version - [0.6.5](https://pypi.org/project/opera/0.6.5/) of opera orchestrator, which introduces the new `opera notify` CLI command that enables invoking TOSCA triggers from policies and will therefore enable scaling.

[2021-04-01 07:00] anzoman commented on #25
We have released new version - [0.6.5](https://pypi.org/project/opera/0.6.5/) of opera orchestrator, which introduces the new `opera notify` CLI command that enables invoking TOSCA triggers from policies and will therefore enable scaling.

[2021-04-01 07:00] anzoman commented on #27
We have released new version - [0.6.5](https://pypi.org/project/opera/0.6.5/) of opera orchestrator, which introduces the new `opera notify` CLI command that enables invoking TOSCA triggers from policies and will therefore enable scaling.

[2021-04-30 18:46] cankarm commented on #15
This seems to be completed.

@gcasale

[2021-04-30 18:49] cankarm commented on #8
The validate function and the "re-run" of deployment (which should succeed as no changes done) should confirm, that the deployment is the same as it was described in TOSCA.

I guess, the we can close that.

@gcasale

[2021-04-30 18:52] cankarm commented on #7
@gcasale, can we close this?

 using `opera info` and xOperaSaaS GUI (or API) user can get the details of the current deployment status.

[2021-04-30 18:53] #17 closed, assigned to nobody

[2021-04-30 18:54] cankarm commented on #24
As there is no more details about the requirements of this issue I propose to close it.

@gcasale

[2021-04-30 18:56] cankarm commented on #30
Is this resolved now? @giopnd ?

[2021-04-30 18:58] cankarm commented on #37
I'm closing this issue.

@gcasale .

[2021-04-30 18:58] #37 closed, assigned to cankarm, gcasale

[2021-04-30 18:58] cankarm commented on #43
I'm closing this, due to the inactivity. @gcasale

[2021-04-30 18:58] #43 closed, assigned to cankarm

[2021-04-30 19:07] cankarm commented on #48
I guess that we have this covered, it this right @naesheim?

[2021-04-30 19:08] cankarm commented on #49
@chinmaya-dehury @pjakovits, what is the status on this? Is this still relevant?

[2021-05-03 11:27] gcasale commented on #43
Approved

[2021-05-03 11:27] gcasale commented on #37
Approved

[2021-05-03 11:27] gcasale commented on #24
Approved

[2021-05-03 11:27] gcasale commented on #17
Approved

[2021-05-03 11:27] gcasale commented on #7
Approved

[2021-05-03 11:27] gcasale commented on #8
Approved

[2021-05-03 11:27] gcasale commented on #15
Approved

[2021-05-03 13:59] #24 closed, assigned to nobody

[2021-05-03 14:00] #7 closed, assigned to nobody

[2021-05-03 17:38] #8 closed, assigned to nobody

[2021-05-03 17:38] #15 closed, assigned to nobody

[2021-05-05 09:04] giopnd commented on #30
Yes it is resolved. the node type [AwsLambdaFunctionFromS3](https://github.com/radon-h2020/radon-particles/tree/master/nodetypes/radon.nodes.aws/AwsLambdaFunctionFromS3) provides the required functionality in an elegant way making it possible to deploy aws Lambda functions having a deployment package that exceeds 50Mb by uploading it to an S3 bucket and deploy it from there.

[2021-05-05 09:04] #30 closed, assigned to nobody